
<%= flash_messages %>
<h2>Conference Rooms</h2>

<p>
  <strong>Name:</strong>
  <%= @conference_rooms.name %>
</p>


<%= link_to 'Edit', edit_conference_room_path(@conference_rooms), class: "btn btn-warning" %>
<%= link_to "Back", conference_rooms_path, class: "btn btn-default" %>
