
<%= flash_messages %>
<h2>Conference Rooms</h2>

<p>
  <strong>Name:</strong>
  <%= @conference_rooms.name  %>
</br>
  <strong>Facility :</strong>
  <% @facility.each { |t| %>
        <%= t.name + ","%>
    <% }  %>
</p>



<%= link_to "Back", conference_rooms_path, class: "btn btn-default" %>
